*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clr{
    clear: both;
}
.navbar{
    background-color: black;
}
.contaner{
    width: 80%;
    margin: auto;
    
}
.logo{
    float: left;
    margin-top: 5px;
}
.logo img{
    height: 25px;
}
.navbar .menu{
    float: right;
    margin-top: 5px;
}
.menu ul{
    list-style-type: none;
}
.menu ul a{
    text-decoration: none;
}
.menu li{
    float: left;
}
.menu a{
    color: white;
    text-transform: uppercase;
    margin-right: 16px;
}
.portfolio{
    background-color: cornsilk;
    text-align: center;

}
.portfolio-item{
    float: left;
    width: 33.33%;
    padding-right: 15px;
    padding-left: 15px;
}
.portfolio img{
    display: block;
    width: 100%;
}